<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <th scope="col">Save</th>
        <th scope="col">Class Base</th>
        <th scope="col">Stats Bonus</th>
        <th scope="col">Other Bonuses</th>
        <th scope="col">Temporary Bonuses</th>
        <th scope="col">Total</th>
      </thead>
      <tbody>
        <tr *ngFor="let save of allSaves()">
          <th scope="row">{{ save.name }}</th>
          <td>{{ save.classBase }}</td>
          <td>{{ save.statsBonus() }}</td>
          <td>{{ save.bonus }}</td>
          <td>{{ save.tmpMod }}</td>
          <td>{{ save.modifier() }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
