<div class="row">
  <div class="col-12">
    <table class="table table-secondary">
      <thead>
        <th scope="col">Save</th>
        <th scope="col">Class Base</th>
        <th scope="col">Stats Bonus</th>
        <th scope="col">Other Bonuses</th>
        <th scope="col">Temporary Bonuses</th>
        <th scope="col">Total</th>
      </thead>
      <tbody>
        <tr>
          <th scope="row">FORTITUDE</th>
          <td>3</td>
          <td>-1</td>
          <td>-</td>
          <td>-</td>
          <td>2</td>
        </tr>
        <tr>
          <th scope="row">REFLEX</th>
          <td>5</td>
          <td>+2</td>
          <td>-</td>
          <td>-</td>
          <td>7</td>
        </tr>
        <tr>
          <th scope="row">WILL</th>
          <td>5</td>
          <td>0</td>
          <td>+2</td>
          <td>-</td>
          <td>7</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
