<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <app-stats 
        [(str)]="character.str"
        [(dex)]="character.dex"
        [(con)]="character.con"
        [(wis)]="character.wis"
        [(int)]="character.int"
        [(cha)]="character.cha"></app-stats>
      <app-saves 
        [(fort)]="character.fort"
        [(refl)]="character.refl"
        [(will)]="character.will"></app-saves>
    </div>
    <div class="col-6">
      <app-skills [(skills)]="character.skills"></app-skills>
    </div>
  </div>
</div>
